H1.SaltoDePagina   {    page-break-after: always }
table td { padding-bottom: 0px; padding-top: 0px; font-size: 14px; border-bottom: 1px solid #000; }        
table th { padding-bottom: 0px; padding-top: 0px; font-size: 14px; border-bottom: 1px solid #000; }        
cite { font-size: 14px;}
img { display: none;}
#boton{ display: none;}
#mostrar{ width: 200px;}